{% load static %}
{% block content %}
{% include 'job/admin_navbar.html' %}
<h3 class="text-center">Rejected Recruiters</h3>
<hr>
<table id="example" class="table table-hover container">
    <thead style="background-color: black; color: white;">
        <tr>
            <th>Sr No</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Images</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.first_name}} {{ i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.company}}</td>
            <td><img src="{{i.image.url}}" style="height:50px; width: 50px; border-radius: 50%;"></td>
            <td>{{i.status}}</td>
        </tr>

        {% endfor %}
    </tbody>
   
</table>

{% endblock content %}